body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

.active {
  font-size: 19px;
  background: rgb(62, 164, 255);
  background: linear-gradient(0deg, rgba(62, 164, 255, 1) 0%, rgba(255, 156, 0, 1) 100%);
}
